

.app{
    background-color: var(--body-color);
    color: var(--primary-color);
    min-height: 100vh;
    @media screen and (max-width: 576px) {
        min-height: 100%;
    }
    width: 100vw;
}
