@font-face {
    font-family: 'Panagram';
    src: url('/src/shared/assets/fonts/Panagram_medium.otf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Panagram';
    src: url('/src/shared/assets/fonts/Panagram_bold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Panagram';
    src: url('/src/shared/assets/fonts/Panagram_semi.ttf') format('truetype');
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--bg-color) ;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
    border: 3px solid var(--bg-color);
}

body {
    background-color: var(--bg-color);
    font-family: 'Panagram', sans-serif;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}