:root {
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-size-l: 20px;
    --font-line-l: 28px;
    --font-size-xl: 24px;
    --font-line-xl: 32px;

    --width-button: 350px;
    --height-button: 117px;

    --width-sidebar: 250px;
    --height-sidebar: 100vh;

    --width-header: 100%;
    --height-header: 80px;


    --border-radius: 10px;
    --font-bold: 600;
    --font-semi: 500;
    --font-medium: 400;
}