.Text {
    min-width: 200px;
    text-align: center;
}

.vault {
    color: var(--font-color);
    font-size: var(--font-size-xl);
}

.title {
    color: var(--font-color);
    font-size: var(--font-size-l);
}

.text {
    color: var(--font-color);
    font-size: var(--font-size-m);
}

.inline {
    display: flex;
    align-items: center;

    .text {
        margin-left: 10px;
    }
}

.error {
    .title {
        color: var(--error-color);
    }

    .text {
        color: var(--error-color);
    }
}

.traceback {
    position: relative;
    padding-top: 25px;

    .title {
        position: absolute;
        top: -10px;
        left: 0;
        text-align: left;
        font-size: var(--font-size-xl);
        font-weight: var(--font-bold);
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .text {
        text-align: left;
        font-weight: var(--font-medium);
    }
}