.Text{
    min-width: 200px;
    text-align: center; 
}
.vault{
    color: var(--font-color);
    font-size: var(--font-size-xl);
}
.title{
    color: var(--font-color);
    font-size: var(--font-size-l);
}
.text{
    color: var(--font-color);
    font-size: var(--font-size-m);
}
.inline{
    display: flex;
    align-items: center;
    .text{
        margin-left: 10px;
    }
}