.Text{
    min-width: 200px;
}
.vault{
    color: var(--font-color);
    font-size: var(--font-size-xl);
}
.title{
    color: var(--font-color);
    font-size: var(--font-size-l);
}
.text{
    color: var(--font-color);
    font-size: var(--font-size-m);
}