.Button {
    width: 200px;
    height: 67px;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    color: white;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
}

.primary {
    background: var(--primary-color);
}
.primary:hover {
    background: var(--secondary-color);
}
.secondary {
    background: var(--secondary-color);
}
.secondary:hover {
    background: var(--primary-color);
}