.Button {
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    color: var(--font-color);
    cursor: pointer;
    font-size: var(--font-size-m);
    padding: 10px;
    text-align: center;
    transition: background-color 0.2s;
}

.primary {
    background: var(--primary-color);
}
.primary:hover {
    background: var(--secondary-color);
}
.secondary {
    background: var(--secondary-color);
    border: 2px solid var(--secondary-shade-color);
}
.secondary:hover {
    background: var(--primary-shade-color);
    border: 2px solid var(--primary-color);
    color: var(--primary-light-color);
}

.list{
    background: var(--secondary-color);
    border: 2px solid var(--secondary-shade-color);
    font-size: var(--font-size-l);
    margin-top: 10px;
    text-align: left;
    width: 100%;
    height: 50px;
    padding: 10px;
}
.list:hover{
    background: var(--primary-shade-color);
    border: 2px solid var(--primary-color);
    color: var(--primary-light-color);}