.Message {
    display: flex;
    width: 100%;
    color: var(--font-color);
    margin-bottom: 20px;
}

.content {
    padding: 30px;
    border-radius: var(--border-radius);
    white-space: pre-wrap;

    
}

.ai {
    .content {
        background-color: var(--message-color);
        @media screen and (max-width: 768px) {
            border-radius: 0 var(--border-radius) var(--border-radius) 0;
        }
    }
}

.user {
    flex-direction: row-reverse;

    .content {
        background-color: var(--primary-color);
        @media screen and (max-width: 768px) {
            border-radius: var(--border-radius) 0 0 var(--border-radius);
        }
    }
}

.isExample {
    width: 100%;
}