.Message{
    display: flex;
    width: 100%;
    color: var(--font-color);
}

.content{
    padding: 10px;
    border-radius: var(--border-radius);
}
.ai{
    .content{
        background-color: var(--secondary-color);
    }
}
.user{
    flex-direction: row-reverse;
    .content{
        background-color: var(--primary-color);
    }
}