.title{
    text-align: center;
}
.btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 200px;
    height: 50px;
}

.modalContainer{
    width: 600px;
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}