.dark {
    --bg-color: #181818;
    --primary-color: #008000;
    --secondary-color: #202020;
    --tertiary-color: #8D0088;
    --quaternary-color: #E63D43;
    --sidebar-color: #131313;

    --secondary-shade-color: #353535;
    --primary-shade-color: #44884492;
    --primary-light-color: #aaf9aa;
    --font-color: #fff;
}   