.MessageSender{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0 300px;
}
.textField{
    width: 700px
}
.button{
    margin-left: 10px;
}