.Vault{
    flex-grow: 1;
    padding: 50px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.vaultContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
