.Header{
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    display: none;
    align-items: center;
    padding: 10px 20px;
    @media screen and (max-width: 992px) {
        padding: 10px;
        display: flex;
    }
    .burger{
        display: none;
        margin-left: auto;
        @media screen and (max-width: 992px) {
            display: block;
        }
        span{
            display: block;
            width: 30px;
            height: 3px;
            background-color: var(--font-color);
            margin-bottom: 5px;
            transition: transform 0.3s;
            user-select: none;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .open{
        span{
            &:nth-child(1){
                transform: rotate(45deg);
                margin-bottom: -3px;
            }
            &:nth-child(2){
                display: none;
            }
            &:nth-child(3){
                transform: rotate(-45deg);
            }
        }
    }
}